<!---see license.txt -->
<!DOCTYPE html>
<!--[if lte IE 9]><html lang="en" dir="ltr" class="lte-ie9 external-links ua-brand-icons sticky-footer"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html lang="en" dir="ltr" class="external-links ua-brand-icons sticky-footer"><!--<![endif]-->

<html lang="en" class="external-links ua-brand-icons sticky-footer">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UAMAP: Knowledge map of University of Arizona</title>

    <!-- Latest icon font stylesheet -->
    <link rel="stylesheet" href="https://cdn.uadigital.arizona.edu/lib/ua-brand-icons/latest/ua-brand-icons.css">
    <!-- Compiled and minified UA Bootstrap CSS, icon font not included -->
    <link rel="stylesheet" href="https://cdn.uadigital.arizona.edu/lib/ua-bootstrap/v1.0.0-beta.15/ua-bootstrap.min.css">
  </head>


<body>
  <header class="l-arizona-header bg-red" id="region_header_ua">
    <section class="container l-container">
      <div class="row"><a class="arizona-logo" href="http://www.arizona.edu" title="The University of Arizona homepage"><img class="arizona-line-logo" alt="The University of Arizona Wordmark Line Logo White" src="https://cdn.uadigital.arizona.edu/logos/v1.0.0/ua_wordmark_line_logo_white_rgb.min.svg"></a></div>
    </section>
  </header>

  <div id="l_page">
    <div id="header_site">
      <div class="container">




        <div class="row">
          <div class="col-xs-12"><a class="sr-only sr-only-focusable" id="skippy" href="#content"></a>
                        <div class="navbar navbar-default navbar-static-top" role="navigation">
                          <div class="container">
                            <div class="row">
                              <div class="navbar-header">
                                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span>
                                  <!-- span.icon-bar-->
                                  <!-- span.icon-bar-->
                                  <!-- span.icon-bar--><span class="text">MAIN MENU</span>
                                </button>
                              </div>

                            </div>
                          </div>
                        </div>
          </div>
        </div>

      </div>
      <!-- /.container-->
    </div>
    <!-- /#header_site-->

    <div id="content_main">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-push-3" id="content">
            {{data |safe}}

          </div>
          <!-- /.col-md-9-->
          <!-- Sidebar-->
          <div class="col-md-3 col-md-pull-9" id="sidebar_first">
            <div class="quick-links">
              <h3>UAMap</h3>

			<ul class="nav nav-pills nav-stacked">
			  <li><a href="#">Collaboration Map</a></li>
			  <li><a href="/topics">Topics Map</a></li>
			  <li><a href="#">Expert Matching</a></li>
			  <li><a href="/contributors">Contributors</a></li>
			  <li><a href="#">Project Description</a></li>
        <li><a href="#">Gallery</a></li>
			  <li><a href="/publications">Publications</a></li>
			  <li><a href="#">Contact</a></li>
			</ul>

            </div>

          </div>
          <!-- End Sidebar-->
        </div>
      </div>
    </div>
    <!-- /#content_main-->
    <footer id="footer_site">
      <div class="container">

        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="text-center" id="footer_copyright">
                The University of Arizona   |   Tucson, AZ USA 85721    <br>
              Phone: (520) 621-2211  |  Bug/question/comment/feedback? Email:&nbsp;<a href="#">hossain@email.arizona.edu <br></a>© 2016 The Arizona Board of Regents on behalf of the University of Arizona   |&nbsp;<a href="#">Feedback</a>
            </div>
          </div>
        </div>
<div class="text-center">
<i>
This is a research project that utilizes multiple data sources that are believed to be reliable, no warranty, expressed or implied, is made regarding accuracy, adequacy, completeness. This information is provided on an "as is" basis and should not utilized beyond the expressed intent of visualizing collaboration networks.
</i>
</div>
      </div>
      <!-- /.container-->
    </footer>
  </div>
  <!-- /#l_page-->


</body>




<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100691823-1', 'auto');
  ga('send', 'pageview');

</script>

</html>
